@import "tailwindcss";

@theme {
  --color-black-90: #201f20;
  --color-gray-150: #eeeeee;

  --headbar-height: 56px;

  --main-sidebar-width: 100px;
  --filter-sidebar-width: 300px;
  --content-container-width: 780px;
  --full-layout-width: calc(var(--main-sidebar-width) + var(--filter-sidebar-width) + var(--content-container-width));

  --sidebar-x-indent: calc((100% - var(--full-layout-width)) / 2);
  --sidebar-y-indent: calc(var(--headbar-height));
  --content-container-indent: calc(var(--sidebar-x-indent) + var(--main-sidebar-width));
  --sidebar-height: calc(100vh - var(--headbar-height));

}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
}